.principal img{
    display: none;
}
.principal{
    grid-template-columns: minmax(30rem, 50rem);
    justify-content: center;
}
.principal>.info{
    margin-right: 3rem;
}
.platos-grid{
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 10rem));
}